asgiref
cryptography
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-spectacular
gunicorn
numpy
opencv-python-headless
psycopg[binary]
redis
sqlparse
tzdata
whitenoise
